@media (max-width: 700px) {
    .container {
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        z-index: 9999;
        background-color: #f5f5f5;

    }
    
    .dashboard {
        /* position: fixed; */
        max-width: 400px;
        /* margin-top: 12px; */
        z-index: 9999;
    }
    .listMusic {
        margin-top: 458px;
        z-index: 1;
    }

}